@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <iframe title="dashboard - Page 1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMGI4YjdhY2EtNDQxOS00ZGViLTk0NjktNWJhMmVlZjRmODhjIiwidCI6Ijc5YTA1N2ZiLWIwZDUtNDRkZC04ZjkwLTBiZjcxNTFmNWMzZiIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@section Footer {
	    <footer class="footer text-muted">
        <div class="container">
            &copy; 1444 - منظومة اتقان
        </div>
    </footer>
}*@