@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- subscribe -->
<section class="subscribe">
    <div class="subscribe-item">
        <p>
            لأن التحول الرقمي أحد الركائز الأساسية لتحقيق رؤية المملكة 2030 تسعى وحدة تقنية المعلومات لتمكين الإدارة العامة للخدمات التعليمية في تحسين ورفع كفاءة سير العمل والاستفادة من التقنيات المتاحة لتوفير الحلول المبتكرة للأقسام المختلفة بالإدارة ودعمهم في تقديم خدمات نوعية متميزة للمستفيدين.

            .وأحد أبرز الأعمال التي قامت بها الوحدة خلال هذه الفترة تطبيق الحصر الخاص بالفصول والمعامل الدراسية وهو أحد تطبيقات منظومة إتقان، بحيث تهدف المنظومة إلى أتمتة وتطوير عمليات الحصر والتقييم والصيانة وتخزينها في قاعدة بيانات رقمية
        </p>
@*        <div class="form">
            <input type="email" class="form-control" placeholder="name@example.com">
            <button class="btn btn-warning btn-sub">اشترك</button>
        </div>*@
    </div>
</section>

<!-- about -->
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="about__item">
                    <h2 class="section__title"> احصائيات منظومة اتقان</h2>
                    <p>احصائيات مدخلات اتقان المدققة من فصول دراسية ومعامل.</p>
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="about__img">
                    <iframe title="dashboard - Page 1" width="600" height="373" src="https://app.powerbi.com/view?r=eyJrIjoiMGI4YjdhY2EtNDQxOS00ZGViLTk0NjktNWJhMmVlZjRmODhjIiwidCI6Ijc5YTA1N2ZiLWIwZDUtNDRkZC04ZjkwLTBiZjcxNTFmNWMzZiIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- news -->
<section class="section news bg-light">
    <div class="container">
            <div class="about__item">
                <h2 class="section__title"> تطبيقات منظومة اتقان</h2>
            </div>
            <br /><br/>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card" style="align-items: center">
                    <img class="card-img-top" src="../images/app-cover-1.png" alt="Card image cap" style="width:30%">
                    <div class="card-body" style="align-items: center">
                        <h5 class="card-title">تطبيق اتقان</h5>
                        <p class="card-text">تطبيق لحصر بيانات القاعات والمعامل من عدد كراسي وتجهبزات القاعة مع الدعم بالصور.</p>
                        <a target="_blank" href="https://apps.powerapps.com/play/206cbbf4-f2d5-4a8f-a64c-e03a6f713abc?tenantId=79a057fb-b0d5-44dd-8f90-0bf7151f5c3f" class="btn btn-warning">الانتقال للتطبيق</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="align-items: center">
                    <img class="card-img-top" src="images/app-cover-2.png" alt="Card image cap" style="width:30%">
                    <div class="card-body">
                        <h5 class="card-title">تطبيق أعمال الحصر</h5>
                        <p class="card-text">تطبيق للمشرفين لمتابعة بيانات الحصر وتدقيقها وسحب التقارير.</p>
                        <a target="_blank" href="https://apps.powerapps.com/play/a6e4e290-caf1-4472-b05e-f5d4bbfdfade?tenantId=79a057fb-b0d5-44dd-8f90-0bf7151f5c3f" class="btn btn-warning">الانتقال للتطبيق</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card" style="align-items: center">
                    <img class="card-img-top" src="images/app-cover-3.png" alt="Card image cap" style="width:30%">
                    <div class="card-body" style="align-items: center">
                        <h5 class="card-title">تطبيق حصر الأجهزة المعملية</h5>
                        <p class="card-text">تطبيق لحصر بيانات الأجهزة المعملية في المعامل والمختبرات مع الدعم بالصور.</p>
                        <a target="_blank" href="https://apps.powerapps.com/play/7e7c0a94-eeaf-4217-a7e6-e63a5822f622?tenantId=79a057fb-b0d5-44dd-8f90-0bf7151f5c3f" class="btn btn-warning">الانتقال للتطبيق</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <iframe title="dashboard - Page 1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMGI4YjdhY2EtNDQxOS00ZGViLTk0NjktNWJhMmVlZjRmODhjIiwidCI6Ijc5YTA1N2ZiLWIwZDUtNDRkZC04ZjkwLTBiZjcxNTFmNWMzZiIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*@section Footer {
	    <footer class="footer text-muted">
        <div class="container">
            &copy; 1444 - منظومة اتقان
        </div>
    </footer>
}*@